@model GeneralCMS.Models.ViewModel.Frontend.VBreadcrumb
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    @{
        string bgImage = string.IsNullOrEmpty(Model.BackgroundImageUrl) ? "/images/bg-img/4.jpg" : Model.BackgroundImageUrl;

        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(@bgImage)">
            <h2>@Model.Title</h2>
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> 首页</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="@Model.SubUrl">@Model.Subtitle</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>