@{
    ViewData["Title"] = "发生错误啦";
}

<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->

    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(/images/bg-img/404.png)">
        <h2>Sorry</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> 返回首页</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-30">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>发生错误啦！</h5>
            <p>当前页面发生找不到，请联系管理员噢</p>
        </div>
    </div>
</div>
