@{
    Layout = "_ContextLayout";
}

<section class="content-header">
    <h1>
        首页
        <small>Home</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">欢迎页</li>
    </ol>
</section>


<section class="content container-fluid">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p></p>
        <p>@DateTime.Now.ToString("yyyy年MM月dd日 HH:mm:ss")</p>
    </div>
</section>